.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: darkgoldenrod;
  border-radius: 16px;
  position: relative;
}
.modal-root:after{
  position: absolute;
  width: 96%;
  height: 96%;
  top: 5px;
  left: 5px;
  border:2px solid #fff;
  border-radius: 16px;
  content: '';
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 22px;
  color:white;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  z-index: 3;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}
.fighter-preview___img{
  display: flex;
  max-height: 330px;
  position: relative;
  top:-7px;
  margin: 0 auto;
}